*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    border: 2px solid black;
    .profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 100%;
      background-color: aqua;
    }
    .orders{
      width: 70%;
      height: 100%;
      background-color: bisque;
    }
  }
}

.section {
  background-color: white;
  color: black;
  transition: all 0.3s ease;

  &.dark {
    background-color: black;
    color: white;
  }
}

button {
  // margin: 10px;
  // padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: gray;
  color: white;
  font-size: 16px;
  border-radius: 5px;

  &:hover {
    background: darkgray;
  }
}
